body{
    background-color: #66696985;
}

form{
    padding-top: 2%;
    text-align: center;
    background-color: #704470;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-left: 28%;
    margin-top: 3%;
}

.input_number{
    width: 50px;
    border-radius: 10px;

}

label{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#in{
    margin-top: 10%;
}
#btn{
    border-radius: 10px;
    width: 30%;
    
}