<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
                <title>Cycle menstruel</title>
                <link rel="stylesheet" href="../public/css/bootstrap.min.css">
                <link rel="stylesheet" href="../public/css/style.css">
                <link rel="stylesheet" href="../public/css/cycle_menstruel.css">
                <script src="../public/js/jquery.min.js"></script>
                
        </head>
<body>
        
              
                <form id="titre">
                        <h1>Calcul de cycle menstruel</h1>
                </form><br>
                
                <div class="row">
                        <div class="col-sm">
                                <form id="duree_cycle">
                                        <label class="lab_titre_two">Date du 1er jour du règle.</label><br>
                                        <input type="date" name="premier_j" id="premier_j1"><br>
                                        <label id="lab_titre_one">Entrer la durée de votre cycle : </label><br>
                                        <input type="number" placeholder="Exemple: 22" id="jour_cycle"><br><br>
                                        <button type="button" class="btn btn-info me" onclick="calucle_Ovulation2()">Envoyer</button><br>
                                        <p id="resultat1"></p>
                                </form>
                        </div>

                        <div class="col-sm">
                                <form id="duree_cycleTwo">
                                        <label class="lab_titre_two">Date du 1er jour du règle.</label><br>
                                        <input type="date" name="premier_j" id="premier_j"><br>
                                        <label class="lab_titre_two two">Date de la prochaine règle:</label><br>
                                        <input type="date" name="prmier_j" id="deuxieme_j"><br><br>
                                        <button type="button" class="btn btn-info me" onclick="calucle_Ovulation()">Envoyer</button><br>
                                        <p id="resultat2"></p>
                                </form>
                        </div>
                        
                </div>
        </span>
        
<script src="../public/js/cycle_menstruel.js"></script>

 
</body>
</html>