<!DOCTYPE html>
<html>
    <head>
        <title>Resolution | Equation </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="public/css/resolution_eq.css">
        <script src="public/js/resolution_eq.js"></script>
        <link rel="stylesheet" href="public/css/bootstrap.min.css">
        <link rel="stylesheet" href="public/css/style.css"> 
    </head>
    <body>
        
        <form id="form_eq">
                <h1>Résolution d'une équation à trois inconnues.</h1>
                <div id="in">
                        <div id="line1">
                                <input type="number" placeholder="a1" class="input_number" id="a1">
                                <label for="x">x + </label>
                                <input type="number" placeholder="b1" class="input_number" id="b1">
                                <label for="y">y + </label>
                                <input type="number" placeholder="c1" class="input_number" id="c1">
                                <label for="z">z </label>
                                <label for="="> = </label>
                                <input type="number" placeholder="d1" class="input_number " id="d1">
                        </div>
                        <br>
                        <div id="lin2">
                                <input type="number" placeholder="a2" class="input_number" id="a2">
                                <label for="x" >x + </label>
                                <input type="number" placeholder="b2" class="input_number" id="b2">
                                <label for="y">y + </label>
                                <input type="number" placeholder="c2" class="input_number" id="c2">
                                <label for="z">z </label>
                                <label for="="> = </label>
                                <input type="number" placeholder="d2" class="input_number" id="d2">
                        </div>
                        <br>
                        <div id="line3">
                                <input type="number" placeholder="a3" class="input_number" id="a3">
                                <label for="x">x + </label>
                                <input type="number" placeholder="b3" class="input_number" id="b3">
                                <label for="y">y + </label>
                                <input type="number" placeholder="c3" class="input_number" id="c3">
                                <label for="z">z  </label>    
                                <label for="="> = </label>
                                <input type="number" placeholder="d3" class="input_number" id="d3">
                        </div>
                        
                </div>
                <br><br>
                <div>
                        <button type="button" id="btn" onclick="resolution()">Résoudre</button>
                </div>
                <p id="res_X"></p> 
                <p id="res_Y"></p> 
                <p id="res_Z"></p>
                
            
        </form>
        
    </body>
</html>