<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <link rel="shortcut icon" type="image/x-icon" href="../public/images/icons/favicon.png" />
            <title>Game-Store | Home</title>
            <link rel="stylesheet" href="../public/css/bootstrap.min.css">
            <link rel="stylesheet" href="../public/css/sommaire.css">
            <link rel="stylesheet" href="../public/css/sidenav.css">
            <link rel="stylesheet" href="../public/fonts/ionicons.min.css">
            <link rel="stylesheet" href="../public/css/pikaday.min.css">
            <link rel="stylesheet" href="../public/css/et-lineicons.css">
            <link rel="stylesheet" href="../public/css/font-awesome.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        </head>

        <style>
            body{
                font-family: Poppins, 'Nimbus Sans', sans-serif;
            }
        </style>

        <body>
    
            <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" id="accueil">
                <div class="container"><a class="navbar-brand logo" onclick="openNav()" style="font-size: 35px; cursor: pointer;" data-scroll-nav="0"><i class="fa fa-bars" style="font-size: 35px !important;"></i> Sommaire</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                </div>
            </nav>
        
        
            <main id="toppage" class="page lanidng-page" data-scroll-index="0">
                <section class="portfolio-block block-intro" >
                    <div class="container">
                        <div class="about-me">
                            <p>Sommaire</p>
                            <a class="btn btn-primary" role="presentation" style="color: #fff !important;" href="../index.html"><i class="fa fa-gamepad"></i> Revenir à G-Store</a>
                        </div>
                    </div>
                </section>
            </main>

        
            <main class="page projects-page" id="projets" >
                <section class="portfolio-block projects-cards" >
                    <div class="container" style="box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2); border-radius: 5px;">
                        <div class="heading">
                            <h2 id="game" style="padding-top: 2% !important;"><i class="fa fa-html5"></i>HTML</h2>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold;"> I - Les balises</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Définition</h6>
                                <p >Un document HTML est un fichier texte qui contient des balises (ou tag en anglais). Ces balises doivent être utilisées d'une certaine façon pour décrire correctement la structure du document. Les balises indiquent au navigateur comment afficher le document, certaines balises permettent d'intégrer différents médias comme des images, des vidéos ou des musiques parmi le texte de la page comme le <span style="font-weight: bold; color: crimson;"> < audio > . </span></p>
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Exemples: une liste non-ordonnée</h6>
                                <img src="../public/images/sommaire/liste.png" alt="balise liste">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;"> II - Les médias</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Image: < img ></h6>
                                <p style="padding-bottom: 1%;">Cette balise permet d'intégrer une image dans un document HTML.</p>
                                <img src="../public/images/sommaire/img.png" alt="balise image">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Audio: < audio ></h6>
                                <p style="padding-bottom: 1%;">Cette balise permet d'intégrer un audio dans un document HTML.</p>
                                <img src="../public/images/sommaire/audio.png" alt="balise audio">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - Vidéo: < video ></h6>
                                <p style="padding-bottom: 1%;">Cette balise permet d'intégrer un audio dans un document HTML.</p>
                                <img src="../public/images/sommaire/video.png" alt="balise video">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;"> III - Le tableau</h4>
                            </div>
                            <div class="titre2">
                                <p style="padding-bottom: 1%;">La balise < table > permet de créer un tableau. Il faudra utiliser la balise < tr > pour créer une nouvelle ligne dans le tableau. Entre les balises < tr > et < /tr > nous mettrons nos cellules grâce aux balises < td >.</p>
                                <img src="../public/images/sommaire/tableau.png" alt="tableau html">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;"> IV - Les liens</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Ancre</h6>
                                <p style="padding-bottom: 1%;">L'ancre est un lien vers un endroit précis de la page courante, ou d'une autre page afin de positionner correctement le navigateur.</p>
                                <img src="../public/images/sommaire/ancre.png" alt="lien ancre">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Lien interne</h6>
                                <p style="padding-bottom: 1%;">On peut créer un lien vers une page située sur le même ordinateur en remplaçant l'URL par le fichier cible. Ce lien peut être fait de façon relative, en repérant le fichier cible par rapport au fichier source.</p>
                                <img src="../public/images/sommaire/interne.png" alt="Lien interne">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - Lien externe</h6>
                                <p style="padding-bottom: 1%;">Un lien externe est un lien vers une page pointée par son URL.</p>
                                <img src="../public/images/sommaire/externe.png" alt="Lien externe">
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                    <div class="container" style="box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2); margin-top: 7% !important;border-radius: 5px;">
                        <div class="heading" >
                            <h2 id="game" style="padding-top: 2% !important;" ><i class="fa fa-css3"></i>CSS</h2>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold;"> I - Les sélecteurs</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Le sélecteur de tout</h6>
                                <img src="../public/images/sommaire/all.png" alt="sélecteur * ">
                                <p >L'astérisque cible tous les éléments de la page. </p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Le sélecteur d'id</h6>
                                <img src="../public/images/sommaire/id.png" alt="sélecteur id ">
                                <p > L'utilisation du symbole dièse comme sélecteur nous permet de cibler un élément par son id. Ce sélecteur d'id est probablement celui qui est le plus couramment utilisé mais il doit l'être avec quelques précautions.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - Le sélecteur de class</h6>
                                <img src="../public/images/sommaire/class.png" alt="sélecteur class ">
                                <p > L'utilisation du symbole . comme sélecteur nous permet de cibler un élément par sa class.</p>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                    <div class="container" style="box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2); margin-top: 7% !important; border-radius: 5px;">
                        <div class="heading">
                            <h2 id="game" style="padding-top: 2% !important;"><span class="fa fa-js" style="font-weight: bold; cursor: pointer;">JS</span> Javascript</h2>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold;"> I - Grand titre</h4>
                            </div>
                            <div class="titre2">
                                <h5 style="color: rgb(249,48, 105);"> 1 - Petit titre</h5>
                                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quidem dolores in natus velit fugiat vero enim laudantium earum aliquam sapiente, aspernatur ipsam fugit beatae explicabo deleniti quas inventore nobis? </p>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </section>
            </main>


            <!--CONTACT START-->
            <main class="page projects-page" data-scroll-index="2">
                <section class="portfolio-block projects-cards">
                    <div class="container">
                            <div class="heading">
                                    <h2 id="game" class="entcont">Entrer en contact</h2>
                                    <p class="text-muted card-text compte">Si vous avez des questions ou des remarques, n'hésitez pas à nous contacter</p>
                            </div>
                        <div class="row">
                            <div class="offset-md-1 col-md-10">
                                <div class="contact-info mb-md50">
                                    <div class="row">
                                        <div class="col-md-4 mb-50 icon-tel">
                                            <div class="item"> <span class="icon et-phone"></span>
                                                <div class="cont">
                                                    <p>+261320025500</p>
                                                    <p class="pcontact">Téléphone</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-50 icon-env">
                                            <div class="item"> <span class="icon et-envelope"></span>
                                                <div class="cont">
                                                    <p>f-society@gmail.com</p>
                                                    <p class="pcontact">Email</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-50 icon-map">
                                            <div class="item"> <span class="icon et-map"></span>
                                                <div class="cont">
                                                    <p>Ambatoroka, Tananarive</p>
                                                    <p class="pcontact">Adresse</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!--CONTACT END-->


            <!--MAP START-->
            <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6885.106578918147!2d47.54228074004742!3d-18.925922514145277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDU1JzM0LjYiUyA0N8KwMzInMzIuNCJF!5e0!3m2!1sfr!2smg!4v1571832051023!5m2!1sfr!2smg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <!--MAP END-->

            <!--FOOTER START-->
                <footer class="text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <!-- Footer Logo -->
                                <div class="footer-logo"> 
                                    <img src="" alt="">
                                </div>
                                <!-- Social Media -->
                                <div class="social"> 
                                    <a href="#"><i class="fa fa-facebook-f"></i></a> 
                                    <a href="#"><i class="fa fa-linkedin"></i></a> 
                                    <a href="https://github.com/RSI-Society"><i class="fa fa-github"></i></a>
                                </div>
                                <!-- Copyright -->
                                <p style="color: #fff !important;">Copyright © 2019 by <a href="https://github.com/RSI-Society">RSI-Society</a></p>
                            </div>
                        </div>
                    </div>
                </footer>
            <!--FOOTER END-->

            
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#" class="accordion"><i class="fa fa-html5"></i> HTML</a>
                    <div class="panel">
                        <a><i class="fa fa-key"></i> Les balises</a>
                        <a><i class="fa fa-key"></i> Les médias</a>
                        <a><i class="fa fa-key"></i> Le tableau</a>
                        <a><i class="fa fa-key"></i> Les liens</a>
                    </div>
                <a href="#" class="accordion"><i class="fa fa-css3"></i> CSS</a>
                    <div class="panel">
                        <a><i class="fa fa-key"></i> Les selécteurs</a>
                        <a><i class="fa fa-key"></i> Les mises en formes</a>
                        <a><i class="fa fa-key"></i> Le responsive design</a>
                    </div>
                <a href="#" class="accordion"> <span style="font-weight: bold" class="fa fa-js">JS</span> Javascript</a>
                    <div class="panel">
                        <a><i class="fa fa-key"></i> Les sélections</a>
                        <a><i class="fa fa-key"></i> Les instructions conditionnelles</a>
                        <a><i class="fa fa-key"></i> Les boucles</a>
                        <a><i class="fa fa-key"></i> Jquery</a>
                        <a><i class="fa fa-key"></i> AJAX</a>
                        <a href="resolution_eq.html"><i class="fa fa-key"></i> Résolution d'equation à trois inconnues</a>
                        <a href="../cycle_menstruel.html"><i class="fa fa-key"></i> Calcul de menstruation</a>
                    </div>
            </div>


            <script src="../public/js/jquery.min.js"></script>
            <script src="../public/js/jquery-ui.js"></script>
            <script src="../public/js/bootstrap.min.js"></script>
            <script src="../public/js/pikaday.min.js"></script>
            <script src="../public/js/main.js"></script> <!-- Script principale du projet -->
            <script src="../public/js/theme.js"></script>
            <script src="../public/js/sidenav.js"></script>
            <script src="../public/js/scroll/scrollIt.min.js"></script>
            <script src="../public/js/scroll/scripts.js"></script>
        
        </body>
    </html>
