<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <link rel="shortcut icon" type="image/x-icon" href="../public/images/icons/favicon.png" />
            <title>Game-Store | Sommaire</title>
            <link rel="stylesheet" href="../public/css/bootstrap.min.css">
            <link rel="stylesheet" href="../public/css/sommaire.css">
            <link rel="stylesheet" href="../public/css/sidenav.css">
            <link rel="stylesheet" href="../public/fonts/ionicons.min.css">
            <link rel="stylesheet" href="../public/css/pikaday.min.css">
            <link rel="stylesheet" href="../public/css/et-lineicons.css">
            <link rel="stylesheet" href="../public/css/font-awesome.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        </head>

        <style>
            body{
                font-family: Poppins, 'Nimbus Sans', sans-serif;
            }
        </style>

        <body>
    
            <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" id="accueil">
                <div class="container"><a class="navbar-brand logo" onclick="openNav()" style="font-size: 35px; cursor: pointer;" ><i class="fa fa-list" style="font-size: 35px !important;"></i> Sommaire</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="resolution.html" style="cursor: pointer"><i class="fa fa-circle"></i> Résolution d'équation</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="cycle.html" style="cursor: pointer"><i class="fa fa-circle"></i> Cycle menstruel</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        
        
            <main id="toppage" class="page lanidng-page">
                <section class="portfolio-block block-intro" >
                    <div class="container">
                        <div class="about-me">
                            <p>Sommaire</p>
                            <a class="btn btn-primary" role="presentation" style="color: #fff !important;" href="../index.html"><i class="fa fa-gamepad"></i> Revenir à G-Store</a>
                        </div>
                    </div>
                </section>
            </main>

        
            <main class="page projects-page" id="projets" >
                <section class="portfolio-block projects-cards" >
                    <div class="container" style="box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2); border-radius: 5px;" >
                        <div class="heading">
                            <h2 id="game" style="padding-top: 2% !important;" data-scroll-index="0"><i class="fa fa-html5"></i>HTML</h2>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold;" > I - Les balises</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Définition</h6>
                                <p >Un document HTML est un fichier texte qui contient des balises (ou tag en anglais). Ces balises doivent être utilisées d'une certaine façon pour décrire correctement la structure du document. Les balises indiquent au navigateur comment afficher le document, certaines balises permettent d'intégrer différents médias comme des images, des vidéos ou des musiques parmi le texte de la page comme le <span style="font-weight: bold; color: crimson;"> < audio > . </span></p>
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Exemples: une liste non-ordonnée</h6>
                                <img src="../public/images/sommaire/liste.png" alt="balise liste">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="1"> II - Les médias</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Image: < img ></h6>
                                <p style="padding-bottom: 1%;">Cette balise permet d'intégrer une image dans un document HTML.</p>
                                <img src="../public/images/sommaire/img.png" alt="balise image">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Audio: < audio ></h6>
                                <p style="padding-bottom: 1%;">Cette balise permet d'intégrer un audio dans un document HTML.</p>
                                <img src="../public/images/sommaire/audio.png" alt="balise audio">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - Vidéo: < video ></h6>
                                <p style="padding-bottom: 1%;">Cette balise permet d'intégrer un audio dans un document HTML.</p>
                                <img src="../public/images/sommaire/video.png" alt="balise video">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="2"> III - Le tableau</h4>
                            </div>
                            <div class="titre2">
                                <p style="padding-bottom: 1%;">La balise < table > permet de créer un tableau. Il faudra utiliser la balise < tr > pour créer une nouvelle ligne dans le tableau. Entre les balises < tr > et < /tr > nous mettrons nos cellules grâce aux balises < td >.</p>
                                <img src="../public/images/sommaire/tableau.png" alt="tableau html">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="3"> IV - Les liens</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Ancre</h6>
                                <p style="padding-bottom: 1%;">L'ancre est un lien vers un endroit précis de la page courante, ou d'une autre page afin de positionner correctement le navigateur.</p>
                                <img src="../public/images/sommaire/ancre.png" alt="lien ancre">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Lien interne</h6>
                                <p style="padding-bottom: 1%;">On peut créer un lien vers une page située sur le même ordinateur en remplaçant l'URL par le fichier cible. Ce lien peut être fait de façon relative, en repérant le fichier cible par rapport au fichier source.</p>
                                <img src="../public/images/sommaire/interne.png" alt="Lien interne">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - Lien externe</h6>
                                <p style="padding-bottom: 1%;">Un lien externe est un lien vers une page pointée par son URL.</p>
                                <img src="../public/images/sommaire/externe.png" alt="Lien externe">
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                    <div class="container" style="margin-top: 7% !important;border-radius: 5px; box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2)">
                        <div class="heading" >
                            <h2 id="game" style="padding-top: 2% !important;" data-scroll-index="4"><i class="fa fa-css3"></i>CSS</h2>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold;" > I - Les sélecteurs</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Le sélecteur de tout: * </h6>
                                <img src="../public/images/sommaire/all.png" alt="sélecteur * ">
                                <p >L'astérisque cible tous les éléments de la page. </p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Le sélecteur d'id: #x</h6>
                                <img src="../public/images/sommaire/id.png" alt="sélecteur id ">
                                <p > L'utilisation du symbole dièse comme sélecteur nous permet de cibler un élément par son id. Ce sélecteur d'id est probablement celui qui est le plus couramment utilisé mais il doit l'être avec quelques précautions.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - Le sélecteur de class: .x</h6>
                                <img src="../public/images/sommaire/class.png" alt="sélecteur class ">
                                <p > L'utilisation du symbole . comme sélecteur nous permet de cibler un élément par sa class.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 4 - Le sélecteur descendant: x y</h6>
                                <img src="../public/images/sommaire/descendant.png" alt="sélecteur descendant ">
                                <p > Le sélecteur descendant permet de cibler les éléments qui sont à l'intérieur d'autres éléments. </p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 5 - Le sélecteur de type: x</h6>
                                <img src="../public/images/sommaire/type.png" alt="sélecteur de type ">
                                <p > Le sélecteur de type permet de cibler tous les éléments d'une page, non pas selon leur id ou leur class mais selon leur type. </p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 6 - Le sélecteur adjacent: x + y</h6>
                                <img src="../public/images/sommaire/adjacent.png" alt="sélecteur adjacent ">
                                <p > Il permet de ne sélectionner que l'élément qui est immédiatement précédé par le premier élément ciblé. Ici, par exemple, seul le premier paragraphe après chaque ul comprendra du texte de couleur rouge.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 7 - Le combinateur d'enfant: x > y</h6>
                                <p>Soit le balisage suivant:</p>
                                <img src="../public/images/sommaire/enfanth.png" alt="Combinateur d'enfant">
                                <p>Soit le css suivant:</p>
                                <img src="../public/images/sommaire/enfantc.png" alt="Combinateur d'enfant">
                                <p > Le sélecteur #container > ul ne ciblera que les uls qui sont enfants directs de la div avec l'id container. A l'inverse, il ne ciblera pas, par exemple, le ul qui est enfant du premier li.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 8 - Le combinateur de frères: x ~ y </h6>
                                <img src="../public/images/sommaire/frere.png" alt="Combinateur de frères ">
                                <p > Il sélectionne n'importe quel élément p, du moment qu'ils suivent un ul.</p>
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="5"> II - Les pseudos-classes</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Le pseudo-classe link et visited: x:link x:visited</h6>
                                <img src="../public/images/sommaire/linkvisited.png" alt="Link et visited ">
                                <p > La pseudo-classe :link est utilisée pour cibler toutes les balises d'ancres qui ne sont pas encore cliquées. La pseudo-classe :visited permet d'appliquer une mise en forme spécifique aux seules balises d'ancres de la page qui ont été cliquées ou visitées.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Le pseudo-classe checked: x:checked</h6>
                                <img src="../public/images/sommaire/checked.png" alt="checked">
                                <p > Cette pseudo-classe ne ciblera un élément d'interface utilisateur que s'il a été coché (checked) - comme un bouton radio ou une case à cocher. </p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - Le pseudo-classe after: x:after</h6>
                                <img src="../public/images/sommaire/after.png" alt="after">
                                <p > Ce hack utilise la pseudo-classe :after pour ajouter un espace après l'élément puis le rend invisible. Pensez à garder cette ingénieuse astuce dans un coin de votre boîte à outils, surtout pour les cas où la méthode overflow: hidden; n'est pas possible.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 4 - Le pseudo-classe hover: x:hover</h6>
                                <img src="../public/images/sommaire/hover.png" alt="hover">
                                <p > Permet d'appliquer une mise en forme spécifique quand un utilisateur survole un élément </p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 5 - Le pseudo-classe first-child: x:first-child</h6>
                                <img src="../public/images/sommaire/child.png" alt="child">
                                <p > Cette pseudo-classe structurelle permet de cibler uniquement le premier enfant de l'élément parent.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 6 - Le pseudo-classe nth-child(): x:nth-child(n)</h6>
                                <img src="../public/images/sommaire/nth.png" alt="nth-child">
                                <p > Permet de cibler des éléments spécifiques d'une liste</p>
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="6"> III - Les pseudos-éléments</h4>
                                <p>Nous pouvons utiliser des pseudo-éléments (identifiés par ::) pour mettre en forme des parties d'un élément, comme la première ligne ou la première lettre. </p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Le first-letter</h6>
                                <img src="../public/images/sommaire/letter.png" alt="letter">
                                <p > Ce bout de code est une abstraction qui va chercher tous les paragraphes de la page puis sous-cible seulement la première lettre de cet élément.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Le first-line</h6>
                                <img src="../public/images/sommaire/line.png" alt="line">
                                <p > Le pseudo-élément ::first-line met en forme la première ligne de l'élément, et elle seule.</p>
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="7"> IV - La mise en forme</h4>
                                <p>La mise en forme c'est le fait d'appliquer des propriétés CSS aux éléments HTML. Ci-dessous un exemple sur un bouton.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> Exemple : un bouton</h6>
                                <p> Le HTML :</p>
                                <img src="../public/images/sommaire/htmlb.png" alt="htmlb">
                                <p> Le CSS :</p>
                                <img src="../public/images/sommaire/cssb.png" alt="cssb">
                                <p> Le résultat :</p>
                                <img src="../public/images/sommaire/resb.png" alt="resb" style="border: 2px solid crimson; border-radius:5px;">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="8"> V - Le responsive design</h4>
                                <p>Le responsive web design est une façon de concevoir un site web pour que son contenu s'adapte automatiquement à la largeur et/ou à la hauteur de l'écran qui le visionne.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Viewport</h6>
                                <p>  Il s’agit de la surface visible, la surface utilisée pour afficher votre site web.</p>
                                <img src="../public/images/sommaire/viewport.png" alt="viewport">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Flexbox</h6>
                                <p> Le Flexbox permet de gérer les espaces inter-colonnes (gouttières), les décalages (“offsets”), les différentes tailles d’écran et d’être automatisable. Le tout en un minimum de code et un maximum de propreté HTML.</p>
                                <img src="../public/images/sommaire/flexbox.png" alt="flexbox">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - Media-Queries</h6>
                                <p> Les medias-queries permet de cibler du CSS spécifiquement à une taille d’écran. Par exemple, le code suivant appliquera du CSS uniquement aux écrans plus petits que 1024 pixels de large :</p>
                                <img src="../public/images/sommaire/media.png" alt="media">
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                    <div class="container" style="box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2); margin-top: 7% !important; border-radius: 5px;">
                        <div class="heading">
                            <h2 id="game" style="padding-top: 2% !important;" data-scroll-index="9"><span class="fa fa-js" style="font-weight: bold; cursor: pointer;">JS</span> Javascript</h2>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" > I - La sélection</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - getElementById()</h6>
                                <p >Une méthode permettant de ciblere un élément par son id, c'est la plus utilisée. </p>
                                <img src="../public/images/sommaire/jsid.png" alt="jsid">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - getElementByClassName()</h6>
                                <p >Une méthode permettant de ciblere un élément par l'attribut class</p>
                                <img src="../public/images/sommaire/jsclass.png" alt="jsclass">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - getElementByName()</h6>
                                <p >Une méthode permettant de ciblere un élément par l'attribut name</p>
                                <img src="../public/images/sommaire/jsclass.png" alt="jsclass">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="10"> II - Les instructions conditionnelles</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - L'instruction if...else</h6>
                                <p >Ci-dessous un exemple. </p>
                                <img src="../public/images/sommaire/if.png" alt="if">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - L'instruction switch...case()</h6>
                                <p >Ci-dessous un exemple. </p>
                                <img src="../public/images/sommaire/caseof.png" alt="caseof">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 3 - Les expressions régulières</h6>
                                <p >Ci-dessous un exemple sur la vérification d'un email </p>
                                <img src="../public/images/sommaire/exp.png" alt="exp">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="11"> III - Les boucles</h4>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> Exemple : La boucle while</h6>
                                <p>La boucle while, francisée en boucle tant que, est une structure de contrôle permettant d'exécuter un ensemble d'instructions de façon répétée sur la base d'une condition booléenne. La boucle while peut être considérée comme une répétition de l'instruction if.</p>
                                <img src="../public/images/sommaire/boucle.png" alt="boucle">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="12"> IV - Jquery</h4>
                                <p> jQuery est un framework Javascript sous licence libre qui permet de faciliter des fonctionnalités communes de Javascript. L'utilisation de cette bibliothèque permet de gagner du temps de développement lors de l'interaction sur le code HTML d'une page web, l'AJAX ou la gestion des évènements.</p>
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 1 - Les sélections </h6>
                                <p> Sélection par l'attribut class</p>
                                <img src="../public/images/sommaire/classjq.png" alt="class">
                                <p> Sélection par l'attribut id</p>
                                <img src="../public/images/sommaire/idjq.png" alt="id">
                            </div>
                            <div class="titre2">
                                <h6 style="color: rgb(249,48, 105); font-weight: normal; padding-top: 2%;"> 2 - Le changement d'attribut : Exemple "src" d'image </h6>
                                <p>Le HTML :</p>
                                <img src="../public/images/sommaire/ancienh.png" alt="ancien">
                                <p> Ici, on va changer le lien de l'image par l'attribut "src".</p>
                                <img src="../public/images/sommaire/nouveaujq.png" alt="nouveau">
                            </div>
                            <div class="titre1">
                                <h4 style="color: #185f80df; font-weight: bold; padding-top: 4%;" data-scroll-index="13"> V - AJAX</h4>
                            </div>
                            <div class="titre2">
                                <p> AJAX est l'acronyme d'Asynchronous JavaScript And XML, autrement dit JavaScript Et XML Asynchrones. AJAX n'est ni une technologie ni un langage de programmation ; AJAX est un concept de programmation Web reposant sur plusieurs technologies comme le JavaScript et le XML – d'où le nom AJAX.</p>
                                <p>Ci-dessous un exemple d'utilisation d'AJAX.</p>
                                <img src="../public/images/sommaire/ajax.png" alt="ajax">
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </section>
            </main>


            <!--CONTACT START-->
            <main class="page projects-page">
                <section class="portfolio-block projects-cards">
                    <div class="container">
                            <div class="heading">
                                    <h2 id="game" class="entcont">Entrer en contact</h2>
                                    <p class="text-muted card-text compte">Si vous avez des questions ou des remarques, n'hésitez pas à nous contacter</p>
                            </div>
                        <div class="row">
                            <div class="offset-md-1 col-md-10">
                                <div class="contact-info mb-md50">
                                    <div class="row">
                                        <div class="col-md-4 mb-50 icon-tel">
                                            <div class="item"> <span class="icon et-phone"></span>
                                                <div class="cont">
                                                    <p>+261320025500</p>
                                                    <p class="pcontact">Téléphone</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-50 icon-env">
                                            <div class="item"> <span class="icon et-envelope"></span>
                                                <div class="cont">
                                                    <p>ambatoroka.fsociety@gmail.com</p>
                                                    <p class="pcontact">Email</p> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-50 icon-map">
                                            <div class="item"> <span class="icon et-map"></span>
                                                <div class="cont">
                                                    <p>Ambatoroka, Tananarive</p>
                                                    <p class="pcontact">Adresse</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!--CONTACT END-->


            <!--MAP START-->
            <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6885.106578918147!2d47.54228074004742!3d-18.925922514145277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDU1JzM0LjYiUyA0N8KwMzInMzIuNCJF!5e0!3m2!1sfr!2smg!4v1571832051023!5m2!1sfr!2smg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <!--MAP END-->

            <!--FOOTER START-->
                <footer class="text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <!-- Footer Logo -->
                                <div class="footer-logo"> 
                                    <img src="" alt="">
                                </div>
                                <!-- Social Media -->
                                <div class="social"> 
                                    <a href="#"><i class="fa fa-facebook-f"></i></a> 
                                    <a href="#"><i class="fa fa-linkedin"></i></a> 
                                    <a href="https://github.com/RSI-Society"><i class="fa fa-github"></i></a>
                                </div>
                                <!-- Copyright -->
                                <p style="color: #fff !important;">Copyright © 2019 by <a href="https://github.com/FoyerSociety">F-Society</a></p>
                            </div>
                        </div>
                    </div>
                </footer>
            <!--FOOTER END-->

            
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#sommaire.html" data-scroll-nav="0" class="accordion"><i class="fa fa-html5"></i> HTML</a>
                    <div class="panel">
                        <a href="#sommaire.html" data-scroll-nav="0"><i class="fa fa-circle"></i> Les balises</a>
                        <a href="#sommaire.html" data-scroll-nav="1"><i class="fa fa-circle" ></i> Les médias</a>
                        <a href="#sommaire.html" data-scroll-nav="2"><i class="fa fa-circle" ></i> Le tableau</a>
                        <a href="#sommaire.html" data-scroll-nav="3"><i class="fa fa-circle"></i> Les liens</a>
                    </div>
                <a href="#sommaire.html" data-scroll-nav="4" class="accordion"><i class="fa fa-css3"></i> CSS</a>
                    <div class="panel">
                        <a href="#sommaire.html" data-scroll-nav="4"><i class="fa fa-circle"></i> Les selécteurs</a>
                        <a href="#sommaire.html" data-scroll-nav="5"><i class="fa fa-circle"></i> Les pseudos-classes</a>
                        <a href="#sommaire.html" data-scroll-nav="6"><i class="fa fa-circle"></i> Les pseudos-éléments</a>
                        <a href="#sommaire.html" data-scroll-nav="7"><i class="fa fa-circle"></i> La mise en forme</a>
                        <a href="#sommaire.html" data-scroll-nav="8"><i class="fa fa-circle"></i> Le responsive design</a>
                    </div>
                <a href="#sommaire.html" data-scroll-nav="9" class="accordion"> <span style="font-weight: bold" class="fa fa-js">JS</span> Javascript</a>
                    <div class="panel">
                        <a href="#sommaire.html" data-scroll-nav="9"><i class="fa fa-circle"></i> La sélection</a>
                        <a href="#sommaire.html" data-scroll-nav="10"><i class="fa fa-circle"></i> Les instructions conditionnelles</a>
                        <a href="#sommaire.html" data-scroll-nav="11"><i class="fa fa-circle"></i> Les boucles</a>
                        <a href="#sommaire.html" data-scroll-nav="12"><i class="fa fa-circle"></i> Jquery</a>
                        <a href="#sommaire.html" data-scroll-nav="13"><i class="fa fa-circle"></i> AJAX</a>
                    </div>
            </div>


            <script src="../public/js/jquery.min.js"></script>
            <script src="../public/js/jquery-ui.js"></script>
            <script src="../public/js/bootstrap.min.js"></script>
            <script src="../public/js/pikaday.min.js"></script>
            <script src="../public/js/main.js"></script> <!-- Script principale du projet -->
            <script src="../public/js/theme.js"></script>
            <script src="../public/js/sidenav.js"></script>

            <!-- Script de scroll-->
            <script src="../public/js/scroll/scrollIt.min.js"></script>
            <script src="../public/js/scroll/scripts.js"></script>
        
        </body>
    </html>
